[Config]
# Caminho para o arquivo de configuração do Maven
m2_path = /caminho/para/a/pasta/.m2

# Caminho do Vscode para configuração do Proxy
vscode_settings_path = /caminho/para/a/pasta/.vscode/

# Caminho do IntelliJ IDEA Community para configuração do Proxy
intellij_settings_path = /caminho/para/a/pasta/.IntelliJIdea2019.2/config/proxy

# Configuração do Proxy
HTTP_PROXY = http://proxy:porta
HTTPS_PROXY = http://proxy:porta

