{
    "editor.inlineSuggest.enabled": true,
    "git.openRepositoryInParentFolders": "always",
    "markdown-preview-enhanced.breakOnSingleNewLine": false,
    "git.autofetch": true,
    "explorer.confirmDelete": false,
    "workbench.iconTheme": "material-icon-theme",
    "workbench.colorTheme": "Gruvbox Dark Hard",
    "editor.fontSize": 18,
    "editor.fontVariations": false,
    "editor.fontWeight": "bold",
    "editor.fontFamily": "Fira Code",
    "haskell.manageHLS": "GHCup",
    "[python]": {
        "editor.formatOnType": true
    },
    "github.copilot.enable": {
        "*": true,
        "yaml": true,
        "plaintext": false,
        "markdown": true
    },
    "[shellscript]": {
        "editor.defaultFormatter": "foxundermoon.shell-format"
    },
    "[yaml]": {
        "editor.insertSpaces": true,
        "editor.tabSize": 2,
        "editor.autoIndent": "keep",
        "diffEditor.ignoreTrimWhitespace": false,
        "editor.defaultFormatter": "kennylong.kubernetes-yaml-formatter",
        "editor.formatOnSave": true,
        "editor.quickSuggestions": {
            "other": true,
            "comments": false,
            "strings": true
        }
    },
    "files.associations": {
        "*.yml": "yaml"
    },
    "http.proxyAuthorization": null
}