{
    "editor.inlineSuggest.enabled": true,
    "git.openRepositoryInParentFolders": "always",
    "markdown-preview-enhanced.breakOnSingleNewLine": false,
    "git.autofetch": true,
    "explorer.confirmDelete": false,
    "workbench.iconTheme": "material-icon-theme",
    "workbench.colorTheme": "Gruvbox Dark Hard",
    "editor.fontSize": 18,
    "editor.fontVariations": false,
    "editor.fontWeight": "bold",
    "editor.fontFamily": "Fira Code",
    "haskell.manageHLS": "GHCup",
    "http.proxyAuthorization": null
}